<%- include('partials/head') %> <%- include('partials/navbar') %>
<div class="container">
  <h1>Browsing The <%= name %> subreddit</h1>
  <h1>Subscribers : <%= subscribers%></h1>
  <p>Description : <%= description%></p>
  <hr />
  <div>
    <div>
      <% for(let post of posts){ %>
      <h1>Author : <%= post.author %></h1>
      <h3>Title : <%= post.title %></h3>
    </div>
    <div>
      <img class="img-fluid" src="<%= post.img %> " />
    </div>
    <% } %>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<%- include('partials/footer') %>
